<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <arg name="first_tb3_x_pos" default="-0.5"/>
  <arg name="first_tb3_y_pos" default="0.5"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 1.57"/>

  <arg name="second_tb3_x_pos" default="2.0"/>
  <arg name="second_tb3_y_pos" default="1.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 1.57"/>

  <!-- BEGIN ROBOT 1-->

  <group ns = "robot_1">
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param /robot_description -model robot_1 -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw)" />
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns = "robot_2">
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param /robot_description -model robot_2 -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw)" />
  </group>
</launch>
