<launch>
  <param name="/use_sim_time" value="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Map server -->
  <arg name="map_file" default="$(find gspn_framework_package)/ros/config/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>

  <group ns="robot_1">
      <param name="tf_prefix" value="robot_1_tf"/>
      <param name="amcl/initial_pose_x" value="-0.5" />
      <param name="amcl/initial_pose_y" value="0.5" />
      <include file="$(find gspn_framework_package)/ros/launch/multi_robot/multi_robot_move_base.launch"/>
  </group>

  <group ns="robot_2">
      <param name="tf_prefix" value="robot_2_tf"/>
      <param name="amcl/initial_pose_x" value="2.0" />
      <param name="amcl/initial_pose_y" value="1.0" />
      <include file="$(find gspn_framework_package)/ros/launch/multi_robot/multi_robot_move_base.launch"/>
  </group>

  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find gspn_framework_package)/ros/config/myconfig.rviz"/>-->

</launch>
