<?xml version="1.0"?>
<launch>

  <!-- Command Line Arguments -->
  <arg name="tb3_0_init_x" default="2.0"/>
  <arg name="tb3_0_init_y" default="0.0"/>
  <arg name="tb3_0_init_a" default="0.0"/>

  <arg name="tb3_1_init_x" default="0.0"/>
  <arg name="tb3_1_init_y" default="2.0"/>
  <arg name="tb3_1_init_a" default="0.0"/>

  <arg name="tb3_2_init_x" default="-2.0"/>
  <arg name="tb3_2_init_y" default="0.0"/>
  <arg name="tb3_2_init_a" default="0.0"/>

  <!-- Default value for location of map config file -->
  <arg name="map_file" default="$(find gspn_framework_package)/ros/config/map.yaml"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />

  <!-- Loads robot_description to parameter server from URDF file-->
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- First Robot -->
  <group ns="robot_1">
    <node pkg="amcl" type="amcl" name="amcl">
      <rosparam file="$(find gspn_framework_package)/ros/param/amcl_params.yaml" command="load" />
      <param name="initial_pose_x" value="$(arg tb3_0_init_x)"/>
      <param name="initial_pose_y" value="$(arg tb3_0_init_y)"/>
      <param name="initial_pose_a" value="$(arg tb3_0_init_a)"/>
      <param name="odom_frame_id"  value="robot_1/odom"/>
      <param name="base_frame_id"  value="robot_1/base_footprint"/>
      <remap from="static_map" to="/static_map"/>
    </node>
  </group>

  <!-- Second Robot
  <group ns="robot_2">
    <node pkg="amcl" type="amcl" name="amcl">
      <rosparam file="$(find gspn_framework_package)/ros/param/amcl_params.yaml" command="load" />
      <param name="initial_pose_x" value="$(arg tb3_1_init_x)"/>
      <param name="initial_pose_y" value="$(arg tb3_1_init_y)"/>
      <param name="initial_pose_a" value="$(arg tb3_1_init_a)"/>
      <param name="odom_frame_id"  value="robot_2/odom"/>
      <param name="base_frame_id"  value="robot_2/base_footprint"/>
      <remap from="static_map" to="/static_map"/>
    </node>
  </group>-->

  <!-- Third Robot
  <group ns="robot_3">
    <node pkg="amcl" type="amcl" name="amcl">
      <rosparam file="$(find gspn_framework_package)/ros/param/amcl_params.yaml" command="load" />
      <param name="initial_pose_x" value="$(arg tb3_2_init_x)"/>
      <param name="initial_pose_y" value="$(arg tb3_2_init_y)"/>
      <param name="initial_pose_a" value="$(arg tb3_2_init_a)"/>
      <param name="odom_frame_id"  value="robot_3/odom"/>
      <param name="base_frame_id"  value="robot_3/base_footprint"/>
      <remap from="static_map" to="/static_map"/>
    </node>
  </group>-->

</launch>
