<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="name_space"/>
  <!--- Run AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <!-- Define your move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />

    <param name="global_costmap/scan/sensor_frame" value="$(arg name_space)/base_scan"/>
    <param name="global_costmap/obstacle_layer/scan/sensor_frame" value="$(arg name_space)/base_scan"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="$(arg name_space)/base_footprint"/>
    <param name="local_costmap/scan/sensor_frame" value="$(arg name_space)/base_scan"/>
    <param name="local_costmap/obstacle_layer/scan/sensor_frame" value="$(arg name_space)/base_scan"/>
    <param name="local_costmap/global_frame" value="$(arg name_space)/odom"/>
    <param name="local_costmap/robot_base_frame" value="$(arg name_space)/base_footprint"/>
  </node>
</launch>
