<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

  <!-- BEGIN ROBOT 1-->
  <group ns="robot_1">
    <include file="$(find gspn_framework_package)/ros/launch/static_transform_publisher_test/one_robot.launch" >
      <arg name="init_pose" value="-x -0.5 -y 0.5 -z 0" />
      <arg name="x" value="-0.5" />
      <arg name="y" value="0.5" />
      <arg name="robot_name"  value="Robot1" />
      <arg name="name_space"  value="robot_1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2
  <group ns="robot_2">
  <include file="$(find gspn_framework_package)/ros/launch/static_transform_publisher_test/one_robot.launch" >
      <arg name="init_pose" value="-x 2 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
      <arg name="name_space"  value="robot_2" />
    </include>
  </group>-->
</launch>
